.FooterDiv {
  width: 440px;
  height: 180px;
  color: white;
  h1 {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
  }
  .render_items {
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 130px;
    p {
      margin: 6px 0 6px 0;
      font-weight: 400;
      font-size: 14px;
      max-width: 170px;
      height: 17px;
    }
  }
}
