.Video {
  height: 850px;
  .main_video {
    position: relative;
    .backVideo {
      position: relative;
      height: 370px;

      .div_first {
        position: absolute;
        width: 472px;
        height: 294px;
        background: url("../../images/Blob.svg") no-repeat;
        background-size: 472px 294px;
        left: 20px;
        top: 100px;
        bottom: 30px;
      }

      .div_first::after {
        content: "";
        width: 31px;
        height: 127.5px;
        background-image: url("../../images/Group.svg");
        position: absolute;
        top: 162px;
        left: 62px;
      }

      .div_second {
        position: absolute;
        width: 630px;
        height: 392px;
        background: url("../../images/Blob.svg") no-repeat;
        background-size: 630px 392px;
        right: 20px;
        top: 62px;
        bottom: 30px;
      }

      .div_second::after {
        content: "";
        width: 31px;
        height: 127.5px;
        background-image: url("../../images/Group.svg");
        position: absolute;
        top: 162px;
        right: 105px;
        top: -20px;
      }
    }
    iframe {
      position: absolute;
      top: 100px;
      left: 183px;
      width: 771px;
      height: 438px;
    }
  }
}
@media screen and (max-width: 768px) {
  .Video {
    height: 560px;
  }
  .Video .main_video .backVideo {
    display: none;
  }

  .Video .main_video iframe {
    position: relative;
    top: 34px;
    left: 0;
    width: 737px;
    height: 419px;
  }
}
@media screen and (max-width: 320px) {
  .Video {
    width: 290px;
    height: 620px;
  }

  .Video .main_video iframe {
    margin-top: 300px;
    width: 287px;
    height: 163px;
  }
}
