@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;1,400;1,500&display=swap");
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1800px) {
  .App {
    zoom: 94%;
  }
}
@media screen and (max-width: 1600px) {
  .App {
    zoom: 84%;
  }
}

@media screen and (max-width: 1440px) {
  .App {
    zoom: 76%;
  }
}
@media screen and (max-width: 1310px) {
  .App {
    zoom: 70%;
  }
}
@media screen and (max-width: 1152px) {
  .App {
    zoom: 62%;
  }
}
@media screen and (max-width: 960px) {
  .App {
    zoom: 53%;
  }
}
@media screen and (max-width: 823px) {
  .App {
    zoom: 46%;
  }
}
@media screen and (max-width: 320px) {
  .App {
    zoom: normal;
  }
}
